body {
    font-family: 'Tahoma, Geneva, Verdana, sans-serif';
    background-color: hsl(39, 78%, 69%);
}

#title {
    text-align: center;
    color: white;
}

#chicken {
    text-align: right;
}

#braid {
    text-align: center;
}

#pies {
    text-align: left;
}